<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.lifecode.recordaccount.mapper.icon.IconMapper">
    <resultMap id="icon" type="cn.lifecode.recordaccount.entity.Icon">
        <result column="icon_id" property="iconId"/>
        <result column="icon_name" property="iconName"/>
        <result column="icon_name_cn" property="iconNameCn"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <resultMap id="iconUser" type="cn.lifecode.recordaccount.entity.IconUser">
        <result column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="icon_id" property="iconId"/>
        <result column="icon_name" property="iconName"/>
        <result column="icon_name_cn" property="iconNameCn"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 添加预算 -->
    <insert id="addIcon" parameterType="cn.lifecode.recordaccount.entity.Icon" keyProperty="icon_id"
            useGeneratedKeys="true">
        insert into `record_account`.`icon` (`icon_name`,
                                             `update_time`)
        values (#{icon.iconName},
                #{icon.updateTime});
    </insert>

    <!-- 查询所有系统默认icon -->
    <select id="queryAllIcon" resultMap="icon">
        select *
        from `record_account`.`icon`;
    </select>

    <!--     查询所有用户icon-->
    <select id="queryAllIconUser" resultMap="iconUser">
        select *
        from `record_account`.`icon_user`
        where user_id = #{userId};
    </select>

</mapper>
