<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.lifecode.recordaccount.mapper.recordaccount.RecordAccountMapper">
    <!-- RecordAccount 对象 -->
    <resultMap id="recordAccount" type="cn.lifecode.recordaccount.entity.RecordAccount">
        <result column="record_account_id" property="recordAccountId"/>
        <result column="bill_money" property="billMoney"/>
        <result column="classify_id" property="classifyId"/>
        <result column="classify_name" property="classifyName"/>
        <result column="classify_type" property="classifyType"/>
        <result column="user_id" property="userId"/>
        <result column="remark" property="remark"/>
        <result column="record_time" property="recordTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- DayRecordAccountObject -->
    <resultMap id="recordAccountObject" type="cn.lifecode.recordaccount.entity.DayRecordAccountObject">
        <result column="record_account_id" property="recordAccountId"/>
        <result column="classify_id" property="classifyId"/>
        <result column="classify_type" property="classifyType"/>
        <result column="classify_name" property="classifyName"/>
        <result column="remark" property="remark"/>
        <result column="bill_money" property="billMoney"/>
        <result column="record_time" property="recordTime"/>
        <!-- 一对一 -->
        <association property="icon" javaType="cn.lifecode.recordaccount.entity.Icon">
            <result column="icon_id" property="iconId"/>
            <result column="icon_name" property="iconName"/>
        </association>
    </resultMap>

    <!-- DayRecordAccount -->
    <resultMap id="recordAccounts" type="cn.lifecode.recordaccount.entity.DayRecordAccount">
        <result column="date_str" property="dateStr"/>
        <result column="day_expense" property="dayExpense"/>
        <!-- 一对多 -->
        <collection property="dayRecordAccountObjects" resultMap="recordAccountObject">
        </collection>
    </resultMap>


    <!-- 添加预算 -->
    <insert id="addRecordAccount" parameterType="cn.lifecode.recordaccount.entity.RecordAccount"
            keyProperty="record_account_id"
            useGeneratedKeys="true">
        insert into `record_account`.`record_account` (`bill_money`,
                                                       `classify_id`,
                                                       `classify_name`,
                                                       `classify_type`,
                                                       `user_id`,
                                                       `remark`,
                                                       `record_time`,
                                                       `update_time`)
        values (#{recordAccount.billMoney},
                #{recordAccount.classifyId},
                #{recordAccount.classifyName},
                #{recordAccount.classifyType},
                #{recordAccount.userId},
                #{recordAccount.remark},
                #{recordAccount.recordTime},
                #{recordAccount.updateTime});

    </insert>

    <!-- 查询总余额 - dateType: year - 年, month - 月, day - 日 -->
    <select id="queryTotalMoney" resultType="double">
        select COALESCE(sum(bill_money),0) from record_account where classify_type = #{classifyType} and user_id =
        #{userId}
        <if test="dateType == 'year'">
            and date_format(record_time , '%Y') = #{dateTime}
        </if>
        <if test="dateType == 'month'">
            and date_format(record_time , '%Y%m') = #{dateTime}
        </if>
        <if test="dateType == 'day'">
            and date_format(record_time , '%Y%m%d') = #{dateTime}
        </if>
    </select>

    <!-- 查询(指定日期的返回日期对象) -->
    <select id="queryRecordAccountObject" resultMap="recordAccountObject">
        SELECT
        ra.record_account_id,
        ra.classify_id,
        ra.classify_name,
        ra.classify_type,
        ra.remark,
        ra.bill_money,
        icon.icon_name,
        icon.icon_id,
        ra.record_time
        FROM record_account ra, icon, classify cl
        WHERE icon.icon_id = cl.icon_id
        AND cl.classify_id = ra.classify_id
        AND ra.user_id = #{userId}
        <if test="dateType == 'month'">
            AND date_format(ra.record_time, '%Y%m') = #{startDate}
        </if>
        <if test="dateType == 'day'">
            AND date_format(ra.record_time, '%Y%m%d') = #{startDate}
        </if>
        <if test="dateType == 'period'">
            AND date_format(ra.record_time, '%Y%m%d') &gt;= #{startDate}
            AND date_format(ra.record_time , '%Y%m%d') &lt;= #{endDate}
        </if>
        order by ra.record_time desc
        <if test="pageSize != 0">
            <!-- 不需要分页 -->
            limit #{startPage}, #{pageSize};
        </if>
    </select>

    <!-- 查询recordAccounts -->
    <select id="queryRecordAccounts" resultMap="recordAccounts">
        SELECT(CASE DATE_FORMAT(ra.record_time, '%w')
        WHEN 0 THEN DATE_FORMAT(ra.record_time, '%m月%d日 星期日')
        WHEN 1 THEN DATE_FORMAT(ra.record_time, '%m月%d日 星期一')
        WHEN 2 THEN DATE_FORMAT(ra.record_time, '%m月%d日 星期二')
        WHEN 3 THEN DATE_FORMAT(ra.record_time, '%m月%d日 星期三')
        WHEN 4 THEN DATE_FORMAT(ra.record_time, '%m月%d日 星期四')
        WHEN 5 THEN DATE_FORMAT(ra.record_time, '%m月%d日 星期五')
        WHEN 6 THEN DATE_FORMAT(ra.record_time, '%m月%d日 星期六') END) date_str,
        (SELECT SUM(bill_money)
        FROM record_account
        WHERE classify_type = '0'
        AND record_time = ra.record_time) day_expense,
        ra.*,
        icon.*
        FROM record_account ra, icon, classify cl
        WHERE icon.icon_id = cl.icon_id
        AND cl.classify_id = ra.classify_id
        AND ra.user_id = #{userId}
        <if test="dateType == 'month'">
            AND date_format(ra.record_time, '%Y%m') = #{startDate}
        </if>
        <if test="dateType == 'day'">
            AND date_format(ra.record_time, '%Y%m%d') = #{startDate}
        </if>
        <if test="dateType == 'period'">
            AND date_format(ra.record_time, '%Y%m%d') &gt;= #{startDate}
            AND date_format(ra.record_time , '%Y%m%d') &lt;= #{endDate}
        </if>
        order by ra.record_time desc
        limit #{startPage}, #{pageSize};
    </select>

    <!-- 记账 -->
    <insert id="addRecordAcct" parameterType="cn.lifecode.recordaccount.dto.home.AddRecordAcctRequest"
            keyProperty="record_account_id"
            useGeneratedKeys="true">
        insert into record_account(bill_money,
                                   classify_id,
                                   classify_name,
                                   classify_type,
                                   user_id,
                                   remark,
                                   record_time,
                                   update_time)
        values (#{addRecordAcctRequest.billMoney},
                #{addRecordAcctRequest.classifyId},
                #{addRecordAcctRequest.classifyName},
                #{addRecordAcctRequest.classifyType},
                #{addRecordAcctRequest.userId},
                #{addRecordAcctRequest.remark},
                now(),
                now());
    </insert>

</mapper>
