<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.lifecode.user.mapper.sysuser.SysUserMapper" >
	<resultMap id="sysUser" type="cn.lifecode.user.entity.SysUser">
		<result column="user_id" property="userId" />
		<result column="user_name" property="userName" />
		<result column="password" property="password" />
		<result column="update_time" property="updateTime" />
		<result column="status" property="status" />
		<result column="user_level" property="userLevel" />
		<result column="real_name" property="realName" />
		<result column="add_user_name" property="addUserName" />
	</resultMap>


    <!-- 查询用户 -->
<!--    <select id="findSysUser" parameterType="string" resultType="cn.lifecode.user.po.SysUser">-->
<!--	    select *-->
<!--	    from sys_user-->
<!--	    where user_name = #{user_name}N-->
<!--	    and password =#{password}-->
<!--	    and status = '00'-->
<!--    </select>-->

<!--    <select id="findSysUserByUsername" parameterType="string" resultType="cn.lifecode.backmusic.po.SysUser">-->
<!--	    select *-->
<!--	    from sys_user-->
<!--	    where user_name = #{user_name}-->
<!--    </select>-->

	<!-- 添加系统用户 -->
    <insert id="addSysUser" parameterType="cn.lifecode.user.entity.SysUser" keyProperty="user_id" useGeneratedKeys="true">
	    insert into sys_user(
	                     user_name,
	                     password,
	                     update_time,
	                     status,
	                     user_level,
	                     real_name,
	                     add_user_name
	             )
	             values(
	                    #{userName},
	                    #{password},
	                    #{updateTime},
	                    #{status},
	                    #{userLevel},
	                    #{realName},
	                    #{addUserName}
	            )
	</insert>


<!--	 <select id="findAllSysUser" resultMap="sysUserList">-->
<!--	    select * from sys_user order by update_time DESC-->
<!--    </select>-->

<!--     <select id="findSysUserByIdAndPass" parameterType="string" resultType="string">-->
<!--	    select user_id-->
<!--	    from sys_user-->
<!--	    where user_id = #{user_id} and password = #{password}-->
<!--    </select>-->

<!--    <update id="updateSysUserPass" parameterType="string">-->
<!--    		update sys_user set password = #{password} where user_id = #{user_id}-->
<!--    </update>-->

</mapper>
